body {
	width: 100%;
	height: 100%;
	background-color: #EEE;
}

#disparityArticle {
	margin-left: 200px;
}

#communityArticle {
	margin-left: 200px;
}

html {
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
}


.floating-navbar {
	position: fixed;
	opacity: 1;
}

.floating-navbar ul {
	position: fixed;
}

.floating-navbar a:hover {
	text-decoration: none;
	/*background-color: black;*/
	color: #CCC;
}

#floating-link:hover {
	background-color: none;
}

.bullet-sidenav {
	position: fixed;
	display: block !important;
}

li a:hover {
	text-decoration: none;
	/*background-color: black;*/
	color: #CCC;
}

@media(min-width:767px) {
	.navbar {
		padding: 20px 0;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}

	.top-nav-collapse {
		/* Customize the look and feel of the collapsed top nav here */
		padding: 0;
	}
}

.navbar.navbar-inverse.navbar-fixed-top {
    padding: 0px;
}

.collapse.navbar-collapse.navbar-ex1-collapse {
    position: absolute;
    left: 500px;
}
.navbar-header.page-scroll {
    position: absolute;
    left: 350px;
}

h1 {
    font-size: 48px;
}

h2 {
	text-align: center;
}

.featurette-heading{
	margin-top:0px !important;
}

img.featurette-image.img-responsive {
    padding: 20px 0 0 0;
}

.col-lg-4 {
}
img.img-circle {
    width: 90%;
    padding: 0 20px 0 20px;
}
.scroll-section {
	padding: 75px 0 75px 0;
	height: 100%;
	background: #EEE;
}

.alt {
	background: #DDD;
}

.internal-text {
	padding: 10px 40px 10px 40px;
}

.featurette-heading {
	font-weight: bold;
}

.article-header {
	padding-top: 70px;
}

#navcontainer ul {
	padding: 20px 0 20px 0;
	margin: 0;
	list-style-type: none;
	background-color: black;
	color: #FFF;
	width: 100%;
	text-align: center;
}

li { display: inline; }

li a {
	text-decoration: none;
	color: #FFF;
	padding: .2em 1em;
}

li a:hover {
	text-decoration: none;
	/*background-color: black;*/
	color: #CCC;
}

footer {
	color: #333;
	margin-top: 200px;
	padding: 20px 20px 10px 20px;
	text-align: center;
	/*background-color: #EAEAEA;*/
	background: #080808;
	width: 100%;
	height: 200px;
}

footer section {
	color: #999;
}

footer a {
	border-bottom: 1px #428BCA dotted;
	text-decoration: none;
}

footer a:hover {
	text-decoration: none;
	border-bottom: none;
}

#closing {
	margin-top: 20px
}

/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

`/*p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}*/`


/*h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}*/
/*.floating-nav {
	margin-left: -20px;
}*/

ul #floating-link {
    margin-left: -70px;
    font-size: 9pt;
}

.cancer-section {
    margin-top: -110px;
}

.text-center {
	border: none;
}

.footer-save {
	margin-bottom: -200px;
}

img.img-circle.pull-right {
	width: 175px;
}

.cancer-section {
    padding: 100px 0;
	height: 800px;
}

#square {
	border-radius: 0 !important;
}

.cancer-section h2 {
    margin: 0;
    font-size: 3em;
}

.cancer-section.prostate {
    color: #fff;
    background: #18bc9c;
}

.cancer-section.cervical {
	margin-top: -60px;
	color: #fff;
	background: #0688cc;
}

.cancer-section.stomach {
	color: #fff;
	background:#FF7460;
}

.cancer-section.oral {
	background: #FFEEB4;
	color: #403204;
}

.cancer-section.colorectal {
	background: #63EEA9;
	color: #00783C;
}

.cancer-section.liver {
	background:#A088FF;
	color: white;
}

.cancer-section.lung {
	    background: #FAA982;
    color: white;
}

#breast-risk-and-disparities {
	padding-bottom: 30px;
}

@media(max-width:767px) {
    .cancer-section {
        padding: 75px 0;
    }

    .cancer-section.first {
        padding-top: 75px;
    }
}

.btn-primary {
	background: #46b8da;
	border-color: #46b8da;
}
