    <!-- About Section -->
    <div class="floating-nav" style="margin-left: -15px">
    <ul>
        <li class="bullet-sidenav"><a id="floating-link" href="/#cancer101#prostate">Prostate</a></li>
        <br>
        <li class="bullet-sidenav"><a id="floating-link" href="/#cancer101#breast">Breast</a></li>
        <br>
        <li class="bullet-sidenav"><a id="floating-link" href="/#cancer101#oral">Oral</a></li>
         <br>
        <li class="bullet-sidenav"><a id="floating-link" href="/#cancer101#lung">Lung</a></li>
         <br>
        <li class="bullet-sidenav"><a id="floating-link" href="/#cancer101#colorectal">Colorectal</a></li>
        <br>
        <li class="bullet-sidenav"><a id="floating-link" href="/#cancer101#liver">Liver</a></li>
    </ul>
</div>
<div class="cancer-section prostate" id="prostate">
    <div class="container">
        <div class="row">
            <div class="section-heading col-lg-9 text-center" style="margin-left:15%">
                <h2>Prostate Cancer</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Basics</h3>
                    <p>• The prostate is a walnut-sized gland located between the bladder and the rectum. It is in charge of secreting a fluid that nourishes and protects sperm. </p>
                    <p>• About 1 in 7 men will be diagnosed with prostate cancer in their lifetime.  </p>
                    <p>• Though prostate cancer is the second leading cause of cancer death in the United States, it can be treated effectively. Though 1 in 7 men are diagnosed, only 1 in 36 will die from it.  </p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Sceening</h3>
                    <p>• Men should begin to talk to their doctors about screening options beginning at the age of 40</p>
                    <p>• Annual screening is recommended for men 50 years of age and older.</p>
                    <p>• PSA Test and Digital Rectal Exam </p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Risk and Disparities</h3>
                    <p>• African-American men have the highest rate of prostate cancer and are twice as twice as likely to die from it than their white counterparts.</p>
                    <p>• Latinos are more likely to die from prostate cancer than whites despite having a lower cancer rate. </p>
            </div>
        </div>
    </div>
</div>

<div class="cancer-section cervical" id="breast">
    <div class="container">
        <div class="row">
            <div class="section-heading col-lg-9 text-center" style="margin-left:15%">
                <h2>Breast Cancer</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Basics</h3>
                    <p>• Approximately 232,670 women will be diagnosed with invasive breast cancer in 2014. </p>
                    <p>• Breast cancer is the second leading cause of cancer deaths for women. </p>
                    <p>• About 1 in 8 women will be diagnosed with invasive breast cancer in their lifetime. </p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Sceening</h3>
                    <p>• Self-breast exam: Women should learn how to perform a self-breast exam by the age of 20 </p>
                    <p>• Clinical breast exam (CBE)- A CBE is recommended every 3 years for women in their 20s and 30s. Women 40+ years of age are recommended to get one annually. </p>
                    <p>• Mammograms: Women 40+ years of age should get an annual mammogram.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Risk and Disparities</h3>
                    <p>• Though white women are the most diagnosed group with breast cancer, African-American women are more likely to die from the disease. </p>
                    <p>• Breast cancer is the most common cancer in Korean, Chinese, Filipino and Japanese women in the U.S. </p>
                    <p>• Latinas are more likely to be diagnosed with breast cancer at a later stage than non-Latinas.</p>
            </div>
        </div>
    </div>
</div>
<div class="cancer-section cervical" id="oral">
    <div class="container">
        <div class="row">
            <div class="section-heading col-lg-9 text-center" style="margin-left:15%">
                <h2>Oral Cancer</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Basics</h3>
                    <p>• Individuals with a history of tobacco and alcohol consumption are at high risk for developing oral cancer. Oral cancer includes cancers of the mouth and pharynx. </p>
                    <p>• Oral cancer is now most commonly caused by HPV—about 8,400 diagnosed cases per year could be due to the virus. </p>
                    <p>• Oropharynx cancers are three times more common in men that women.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Sceening</h3>
                    <p>• Oral exam- A medical practitioner will look for any abornalities </p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Risk and Disparities</h3>
                    <p>• The five year survival rate for throat cancers is much lower in African-American men (36%) than their white counterparts (61%)</p>
            </div>
        </div>
    </div>
</div>
<div class="cancer-section stomach" id="colorectal">
    <div class="container">
        <div class="row">
            <div class="section-heading col-lg-9 text-center" style="margin-left:15%">
                <h2>Colorectal Cancer</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Basics</h3>
                    <p>• Colorectal cancer is found in either the colon or rectum. </p>
                    <p>• The lifetime risk of developing colorectal risk is 1 in 20 (5%). </p>
                    <p>• Approximately 50,310 death in 2014 will be due to colorectal cancer.  </p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Sceening</h3>
                    <p>• Both man and women 50 years of age and older are recommended to be screened. </p>
                    <p>• Click here to explore options (link to Flexible sigmoidoscopy, colonoscopy, double-contrast barium enema, and CT colonography </p>

            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Risk and Disparities</h3>
                    <p>• Rates of colorectal cancer for African-American men and women are 17% higher than those for white men and women. </p>
                    <p>•  Colorectal cancer is the second most diagnosed cancer in Latin@s. </p>
            </div>
        </div>
    </div>
</div>

<div class="cancer-section prostate" id="liver">
    <div class="container">
        <div class="row">
            <div class="section-heading col-lg-9 text-center" style="margin-left:15%">
                <h2>Liver Cancer</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Basics</h3>
                    <p>• The 2014 years expects approximately 33,190 new cases to be diagnosed. Of these, 23,000 will die. </p>
                    <p>• Men are more than twice as likely to be diagnosed with liver cancer than women.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Sceening</h3>
                    <p>• Screening is recommended only for those at high risk </p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Risk and Disparities</h3>
                    <p>• Latin@s are twice as likely to be diagnosed with liver cancer compared to whites. </p>
                    <p>• Asian –Americans are 107-11.3X more susceptible to liver cancer than their white counterparts.  </p>
            </div>
        </div>
    </div>
</div>
<div class="footer-save"></div>
