    <!-- About Section -->
    <ul>
        <li class="bullet-sidenav"><a id="floating-link" href="/#cancer101#prostate">Prostate</a></li>
        <br>
        <li class="bullet-sidenav"><a id="floating-link" href="/#cancer101#cervical">Cervical</a></li>
        <br>
        <li class="bullet-sidenav"><a id="floating-link" href="/#cancer101#stomach">Stomach</a></li>
        <br>
    </ul>
<div class="cancer-section prostate" id="prostate">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Prostate Cancer</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Basics</h3>
                    <p>• The prostate is a walnut-sized gland between the bladder and the rectum</p>
                    <p>• More prostate information here</p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Sceening</h3>
                    <p>• The prostate is a walnut-sized gland between the bladder and the rectum</p>
                    <p>• More prostate information here</p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Risk and Disparities</h3>
                    <p>• The prostate is a walnut-sized gland between the bladder and the rectum</p>
                    <p>• More prostate information here</p>
            </div>
        </div>
    </div>
</div>

<div class="cancer-section cervical" id="cervical">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Cervical Cancer</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Basics</h3>
                    <p>• The prostate is a walnut-sized gland between the bladder and the rectum</p>
                    <p>• More prostate information here</p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Sceening</h3>
                    <p>• The prostate is a walnut-sized gland between the bladder and the rectum</p>
                    <p>• More prostate information here</p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Risk and Disparities</h3>
                    <p>• The prostate is a walnut-sized gland between the bladder and the rectum</p>
                    <p>• More prostate information here</p>
            </div>
        </div>
    </div>
</div>
<div class="cancer-section stomach" id="stomach">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Stomach Cancer</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Basics</h3>
                    <p>• The prostate is a walnut-sized gland between the bladder and the rectum</p>
                    <p>• More prostate information here</p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Sceening</h3>
                    <p>• The prostate is a walnut-sized gland between the bladder and the rectum</p>
                    <p>• More prostate information here</p>
            </div>
            <div class="col-lg-8 col-lg-offset-1">
                <h3>Risk and Disparities</h3>
                    <p>• The prostate is a walnut-sized gland between the bladder and the rectum</p>
                    <p>• More prostate information here</p>
            </div>
        </div>
    </div>
</div>
<div class="footer-save"></div>
