<script>
function stateChange(newState) {
    setTimeout(function(){
        $(this).scrollTop(0);
    }, 1);
};

stateChange();
</script>
<div class="row" id="educationalModulesHome">
    <div class="col-md-12"><h2>Posts</h2></div>
    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="text-center">Cancer Screening Flowchart</h4></div>
            <div class="panel-body">
                <img src="../img/fchar.jpg" class="img-circle pull-right" id="flowchart-img">
                <div class="col-md-6">
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-md-6">
                    <h5><a href="../modules/fchart.pdf">View Flowchart Here</a></h5>
                </div>


                <div class="clearfix"></div>
                <hr>
                <p>In speaking with community member about cancer prevention and early detection, we found multiple misconceptions around screening recommendations: What cancers had screening tests? How frequently do experts recommend being screened? What factors increase the importance of screening? Our Cancer Screening Flowchart is an attempt to answer these questions.
                </p>
                <h5><a href="http://www.cancer.org/healthy/findcancerearly/cancerscreeningguidelines/american-cancer-society-guidelines-for-the-early-detection-of-cancer">More information on cancer screening guidelines</a></h5>

            </div>
        </div>
    </div>
</div>
