<style>

  .left{

    float:left;
  }

  .right {
    float:right;
  }

  .cardView {
    font-size: 10pt;
    padding: 10px;
    width: 40%;
    margin-top: 20px;
  }

  #attribute {
    display:block;
    text-align:left;
  }

  #bidButton {
    font-size: 12pt;
    background-color: #26bf51;
  }

  #bidButton:hover {
    background-color: #21a546;
  }

  /*#timeRemaining {
    font-weight:bold;
  }*/

  #bidders {
    margin-top: 30px;
    text-align:left;
  }

  #userTitle {
    font-size: 20pt;
  }

  body {

  }
}

</style>

<div class = "animated fadeIn">
<h2>Choose an Expert</h2>
<div class="cardView left">
    <img src="../images/img2.png" height="100" width="80" style="float:left" >
  <strong id="userTitle"><span>Kelsey -</strong> "I recently moved homes"</span>
  <br>
  <br>

  <span id="timeRemaining">30 minutes left in this bid.</span>
  <br>

  <span id="timeRemaining">Original quote: $500</span>
  <br>
  <br>

  <div style="float:left">
  <span id="attribute"><strong>Specialty:</strong> Federal taxes</span>
  <span id="attribute"><strong>Occupation:</strong> Tax consultant</span>
  </div>
  <br><br><br>
  <span id="bidders">23 bidders</span>
  <button id="bidButton">Current Bid - $2.99</button>
</div>


<div class="cardView right" style="margin-bottom:20px;">
    <img src="../images/img3.png" height="100" width="80" style="float:left" >  
    <strong id="userTitle"><span>Shelly -</strong> "I have two dependents"</span>
  <br>
  <br>

  <span id="timeRemaining">2 minutes left in this bid!</span>
  <br>


  <span id="timeRemaining">Original quote: $400</span>
  <br>
  <br>

  <div style="float:left">
  <span id="attribute"><strong>Specialty:</strong> Dependent filing</span>
  <span id="attribute"><strong>Occupation:</strong> CPA</span>
  </div>

  <br><br><br>
  <span id="bidders">4 bidders</span>
  <button id="bidButton">Current Bid - $5.11</button>
</div>

<div class="cardView left">
    <img src="../images/img1.png" height="100" width="80" style="float:left" >
<strong id="userTitle"><span>Marcus -</strong> "I was recently divorced and have 2 kids"</span>
<br>
<br>

<span id="timeRemaining">50 seconds left in this bid!</span>
<br>

<span id="timeRemaining">Original quote: $420</span>
<br>
<br>

<div style="float:left">
<span id="attribute"><strong>Specialty:</strong>Tax problems around divorce</span>
<span id="attribute"><strong>Occupation:</strong>CPA</span>
</div>

<br><br><br>
<span id="bidders">9 bidders</span>
<button id="bidButton">Current Bid - $4.23</button>

</div>
<div class="cardView right">
<img src="../images/img4.png" height="100" width="80" style="float:left">

<strong id="userTitle"><span>Antonio -</strong> "I have multiple investments"</span>
<br>
<br>

<span id="timeRemaining">3 minutes left in this bid!</span>
<br>

<span id="timeRemaining">Original quote: $490</span>
<br>
<br>

<div style="float:left">
<span id="attribute"><strong>Specialty:</strong>Investment tax</span>
<span id="attribute"><strong>Occupation:</strong>CPA</span>
</div>
<br><br><br>
<span id="bidders">54 bidders</span>
<button id="bidButton" ng-click="cpaAccept()">Current Bid - $1.67</button>
</div>
<br>
<br>
<br>
<br>
</div>
