<script>
function stateChange(newState) {
    setTimeout(function(){
        $(this).scrollTop(0);
    }, 1);
};

stateChange();
</script>
<div class="row" id="educationalModulesHome">
    <div class="col-md-12"><h2>Posts</h2></div>
    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><a class="text-center "></a> <h4>Cancer Screening Flowchart</h4></div>
            <div class="panel-body">
                <img src="../img/fchar.jpg" class="img-circle pull-right"> <a href="../modules/fchart.pdf">View Flowchart Here</a>
                <div class="clearfix"></div>
                <hr>
                <p>In speaking with community member about cancer prevention and early detection, we found multiple misconceptions around screening recommendations: What cancers had screening tests? How frequently do experts recommend being screened? What factors increase the importance of screening? Our Cancer Screening Flowchart is an attempt to answer these questions.
                </p>
                <h5><a href="http://www.cancer.org/healthy/findcancerearly/cancerscreeningguidelines/american-cancer-society-guidelines-for-the-early-detection-of-cancer">More information on cancer screening guidelines</a></h5>

            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><a class="text-center "></a> <h4>PowerPoint Slide Decks </h4></div>
            <div class="panel-body">
                We have uploaded some of our commonly-used slides for public use in educational efforts:
                <hr>
                <div class="well well-sm">
                    <div class="media">
                        <a class="thumbnail pull-left" href="../modules/screen.pptx">
                            <img class="media-object" src="../img/screen.png">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Cancer Screening Basics</h4>
                            <p><li>Overview of screening procedures</li></p>
                        </div>
                    </div>
                </div>
                <div class="well well-sm">
                    <div class="media">
                        <a class="thumbnail pull-left" href="../modules/sdh.pptx">
                            <img class="media-object" src="../img/sdh.png">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Social Determinants of Health and Cancer</h4>
                            <p><li>Introduction to SDH and SES</li></p>
                        </div>
                    </div>
                </div>
                <div class="well well-sm">
                    <div class="media">
                        <a class="thumbnail pull-left" href="../modules/scc.pptx">
                            <img class="media-object" src="../img/scc.png">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Santa Clara County Cancer Stats</h4>
                            <p><li>Stats from the CHNA of 2013</li></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><a class="text-center "></a> <h4>Download Our Mobile App</h4></div>
            <div class="panel-body">
                <img src="../img/erace1.jpg" class="img-circle pull-right"> <a href="#">Download App Here</a>
                <div class="clearfix"></div>
                <hr>
                <div class="clearfix"></div>
                <img src="http://placehold.it/120x90/3333CC/FFF" class="img-responsive img-thumbnail pull-right">
                <p>We built a mobile app for iPhones, android phones, and tablets. Our mobile app is designed to help users learn which cancer screening procedures are appropriate for them based on user-supplied demographic criteria. </p>
                <div class="clearfix"></div>
                <hr>
            </div>
        </div>
    </div>
</div>
