

<style>

.customButton {
    border-width: 0px;
    padding: 0px;
    background-color: rgba(255, 128, 0, 0.01);
    outline-width: 0;
    color: white;
    border-radius: 5px;
    padding: 0px;

}


    Button:hover {
    cursor: pointer;
    background-color: rgba(255, 153, 41, 0);
}
</style>




<div >
    <h3>How was Emily's help today?</h3>
</div>

<div class="user-circle"></div> <!--contains the person image -->
<br>
<textarea rows="4" cols="60" wrap="hard" style="font-size: 15px;" >Tell us how we delivered awesome...</textarea>

    <div id="starContainer">
        <button ng-mouseover="hoverStar(this)" ng-repeat="star in stars" class="customButton">
            <img ng-src="{{star.imgSrc}}" width="30px" height="30px" />
        </button>
        <!--<button class="customButton">
            <img src="images/black_star.png" width="30" height="30" >
        </button>
        <button class="customButton">
            <img src="images/black_star.png" width="30" height="30" >
        </button>
        <button class="customButton">
            <img src="images/black_star.png" width="30" height="30" >
        </button>
        <button class="customButton">
            <img src="images/black_star.png" width="30" height="30" >
        </button>
        <button class="customButton">
            <img src="images/black_star.png" width="30" height="30" >
        </button>-->
    </div>

<div>
<button class="success" ng-click="sendExpertFeedback()">Send</button>

</div>
