<script>
  function stateChange(newState) {
    setTimeout(function(){
      $(this).scrollTop(0);
    }, 1);
  };

  stateChange();
</script>
<div class="row" id="educationalModulesHome">
  <div class="col-md-12"><h2>Posts</h2></div>
  <div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><a class="text-center "></a> <h4>Clinical Research Assistant</h4></div>
      <div class="panel-body">
        <img src="../img/redcap.jpg" class="img-circle pull-right">
        <div class="col-md-6">
          <br>
          <br>
          <br>
        </div>
        <div class="col-md-6">
          <h5><a href="mailto:info@eracecancer.org">Submit Résumé Here</a></h5>
        </div>
        <div class="clearfix"></div>
        <hr>
        <p>Are you interested in clinical research?  Hoping to work on a project in oncology and epidemiology before applying to medical school?  ERACE Cancer is currently helping to coordiate researchers to build a dataset that investigate the relationship between cardiovascular fitness, race, and cancer outcomes.  We are looking for undergraduate research assistants to help with the project.  If interested, please email a résumé to info@eracecancer.org
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
     <div class="panel-heading"><a class="text-center "></a> <h4>Volunteer at PFC</h4></div>
     <div class="panel-body">
      <div class="col-md-4 col-sm-6 text-center" style="width: 100%">
        <img src="../img/pacific.jpg" class="img-circle pull-right" id="square" style="">
      </div>
      <div class="clearfix"></div>
      <hr>
      <p>The Pacific Free Clinic (PFC) is a student-run clinic that offers health screenings, basic medications, and referrals to patients in and around San Jose. PFC recruits bilingual undergraduates who serve as both interpreters and patient advocates.  If you are considering a career in healthcare, working with the PFC team can be a valuable introduction to working with underserved patient population. </p>
      <h5><a href="http://pacific.stanford.edu/">More information on PFC</a></h5>

    </div>
  </div>
</div>

<div class="col-md-4 col-sm-6">
  <div class="panel panel-default">
   <div class="panel-heading"><a class="text-center "></a> <h4>Volunteer at Arbor</h4></div>
   <div class="panel-body">
    <div class="col-md-4 col-sm-6 text-center" style="width: 100%">
      <img src="../img/arbor.gif" class="img-circle pull-right" id="arbor">
    </div>
    <div class="clearfix"></div>
    <hr>
    <p>The Arbor Free Clinic is open every Sunday from 8:30 AM to 2 PM and offers culturally appropriate high quality transitional medical care for patients in communities around Stanford.  Located within the Menlo Park VA, the Arbor clinic is an easy commute from the Stanford campus and a great opportunity to work with a team of Stanford undergrads, medical students, and MDs to help address health disparities.
    </p>
    <h5><a href="http://arbor.stanford.edu/">More information on Arbor</a></h5>
  </div>
</div>
</div>
