<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#/#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#/#carousel" data-slide-to="1"></li>
        <li data-target="#/#carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="assets/images/stanford.JPG" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 style="margin-bottom:10px">Stanford Free Oral Cancer Screening</h1>
                    <p>ERACE Cancer surveyed participants to better understand the demographics of attendees</p>
                    <p><a class="btn btn-lg btn-primary" href="../assets/pdfs/OCS2014_Summary.pdf" role="button">View Results</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/erace.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <p><a data-scroll class="btn btn-lg btn-primary" href="#/#about-us" role="button">About Us</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/old.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>ERACE Cancer Articles</h1>
                    <p>News articles and research prepared by the ERACE Cancer Team</p>
                    <p><a class="btn btn-lg btn-primary" href="#/community" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <p id ="3-column"></p>
    <a class="left carousel-control" href="#/#carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#/#carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div id="3-column" class="container-fluid">
    <div class="row" id="columns">
        <div class="col-lg-4">
            <img class="img-circle" src="assets/images/nocancer.jpg" alt="Generic BLUE image">
            <h2>Cancer Prevention</h2>
            <p> Over 30% of cancer deaths are due to five behavioral and dietary risks: high body mass index (BMI), low fruit and vegetable intake, lack of physical activity, tobacco use, and alcohol use. Tobacco alone is estimated to be the leading cause of over 20% of global cancer deaths and about 70% of global lung cancer deaths. Other environmental factors that are strongly correlated with cancer incidence are... </p>
            <div class="col-md-4 text-center" style="width:100%">
                <a id="singlebutton" name="singlebutton" class="btn btn-primary" href="#/cancer101#prostate">View Details &raquo;</a>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="img-circle" src="assets/images/hands.jpg" alt="Generic placeholder image">
            <h2>Cancer Health Disparities</h2>
            <p>In Santa Clara County, the incidence and mortality rates of all cancer types are higher that state averages. Not only are rates above state averages, but the rates are disproportionately high when subdivided by race and ethnicity.  Cancer screening rates were also well below the Health People (HP) targets with cervical cancer 20 percentage points below the HP target and...</p>
            <div class="col-md-4 text-center" style="width:100%">
                <a id="singlebutton" name="singlebutton" class="btn btn-primary" href="#/disparity#disparityHome">Read More &raquo;</a>
            </div>

        </div>

        <div class="col-lg-4">
            <img class="img-circle" src="assets/images/Martin.jpg" alt="Generic placeholder image">
            <h2>ERACE Cancer Blog</h2>
            <p>Addressing a crowded room at the national convention of the Medical Committee for Human Rights in a Chicago hotel in 1966, Dr. Martin Luther King Jr. declared discriminatory health policy uniquely offensive: “Of all the forms of inequality, injustice in healthcare is the most shocking and inhuman.” Almost fifty years later, the health care system of the United States remains a model of injustice...</p>
            <div class="col-md-4 text-center" style="width:100%">
                <a id="singlebutton" name="singlebutton" class="btn btn-primary" href="#/community">Read More &raquo;</a>
            </div>
        </div>
    </div>

    <div class="row featurette scroll-section" id="oral-cancer-screening">
        <div class="col-md-7 internal-text">
            <h2 class="featurette-heading">Stanford's Annual Free Oral Cancer Screening</h2>
            <p class="lead">For the third consecutive year, Stanford Health Care's Ear Nose and Throat Clinic offered a free screening for oral cancer to Bay Area community members. Every year in the United States, over 40,000 people are diagnosed with oral cancer. Oral Cancer has a notoriously low survival rate because the disease is often not caught until it has spread to other sites in the body, making it more difficult to treat. The screening occurred in early October and we have just finished analyzing the results from our survey efforts on the day of the screening.  We hope to present our findings at the 2015 Annual Meeting for the American Association for Cancer Research in Philadelphia.  Thank you to all of the screening participants who made our research possible!</p>
            <p><a class="btn btn-danger" href="../modules/abstract_aacr.pdf" role="button">Read our Abstract</a></p>
        </div>
        <div class="col-md-5">
            <img data-src="" src="assets/images/oralcancer.png" alt="Generic placeholder image" class="featurette-image img-responsive">
        </div>
    </div>

    <div id="about-us" class="row featurette scroll-section alt">
        <div class="col-md-7 internal-text">
            <h2 class="featurette-heading">About Us</h2>
            <p class="lead">ERACE Cancer is a group of students and researchers working to Establish Race and Class Equality in Cancer.  We lead educational initiatives that disseminate information on cancer prevention strategies to the Stanford campus community and at-risk populations in the Bay Area. In addition to outreach efforts, we serve as a forum for discussions on the social determinants of health and the societal factors that shape access to adequate healthcare.</p>
            <p class="lead">If you're interested in getting involved, the general member meetings of ERACE Cancer happen weekly: thursday evenings at 5PM in LKSC.</p>
        </div>
        <div class="col-md-5">
            <img data-src="" src="assets/images/dave.jpg" alt="Generic placeholder image" class="featurette-image img-responsive">
        </div>
    </div>
</div>
