<div id="navcontainer">
<ul id="navlist">
<li class="page-scroll"><a data-scroll href="#navcontainer"><strong>ERACE Cancer</strong></a></li>
<li class="page-scroll"><a data-scroll href="">Cancer 101</a></li>
<li class="page-scroll"><a data-scroll href="#cancer-101">Oral Cancer Screening Info</a>
<li class="page-scroll"><a data-scroll href="#get-involved">Get Involved</a>
<li class="page-scroll"><a href="pages/modules.html">Educational Modules</a>
<li class="page-scroll"><a data-scroll href="#about-us">About Us</a></li>
</ul>
</div>
