<style>
   .appear {
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    animation-duration: .5s;
  }
</style>

<div class="animated bounceInUp appear">
<h2>We've found a connection!</h2>
<div class="user-circle"></div>
<br>
<div>Emily has agreed to answer your question.</div>
<br>
<div class="user-subtext"><strong>Age</strong>: 31</div>
<div class="user-subtext"><strong>Occupation</strong>: CPA</div>
<div class="user-subtext"><strong>Expertise</strong>: Federal taxes</div>
<div class="user-subtext"><strong>Location</strong>: San Francisco, CA</div>
<br>
<div>
    <img src="images/yellow_star.png" width="30" height="30" >
    <img src="images/yellow_star.png" width="30" height="30" >
    <img src="images/yellow_star.png" width="30" height="30" >
    <img src="images/yellow_star.png" width="30" height="30" >
    <img src="images/black_star.png" width="30" height="30" >
</div>
<br>
<div>  
<button class="success" ng-click="letsGetAtIt()">Let's get at it!</button>
<button class="success" ng-click="showNewUser()">I need more help...</button>
</div>  
</div>
